* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    font-family: sans-serif;
}

nav {
    border-bottom: 2px solid black;
    font-family: 'Oswald', sans-serif;
}

.navbar-brand {
    filter: contrast(2.1);
}

.best {
    width: 320px;
    height: 120px;
    padding: 10px;
    background: rgb(80, 80, 245);
    color: white;
    border-radius: 25px;
    font-family: 'Oswald', sans-serif;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(178, 193, 255, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(178, 193, 255, 1);
    box-shadow: 10px 10px 5px 0px rgba(178, 193, 255, 1);
}

.best:hover {
    color: greenyellow;
    cursor: pointer;
}

.uw {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.embos {
    width: 320px;
    height: 80px;
    padding: 15px;
    background: rgb(80, 80, 245);
    color: white;
    border-radius: 50px;
    font-family: 'Oswald', sans-serif;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(178, 193, 255, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(178, 193, 255, 1);
    box-shadow: 10px 10px 5px 0px rgba(178, 193, 255, 1);
}

.embos:hover {
    color: greenyellow;
    cursor: pointer;
}

.harga h3 {
    font-weight: bold;
    font-size: 25px;
    color: red;
}

.harga p {
    color: blue;
    font-weight: bold;
    font-size: 25px;
}

.progress {
    height: 30px;
    border-radius: 40px;
}

.progress-bar {
    background: rgba(210, 255, 82, 1);
    background: -webkit-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    background: -o-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    background: -ms-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    background: linear-gradient(to right, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
}

.promo i {
    font-size: 100px;
    color: grey;
}

/* .promo li {
	list-style: none;
	display: inline-block;
	min-width: 50px;
	font-size: 150px;
	color: rgb(253, 54, 54);
}

.promo #kiri {
	transform: rotate(-30deg);
	transform-origin: 100% 61%;
}

.promo #kanan {
	transform: rotate(30deg);
	transform-origin: 1% 67%;
} */

.customer {
    background: #4080ff;
    color: white;
    width: 250px;
    height: 50px;
    padding: 7px;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
}

.customer a {
    text-decoration: none;
    color: white;
}

.customer a:hover {
    color: white;
}

.aman {
    width: 320px;
    height: 120px;
    padding: 10px;
    background: rgb(211, 211, 226);
    color: white;
    border-radius: 25px;
    font-family: 'Oswald', sans-serif;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(178, 193, 255, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(178, 193, 255, 1);
    box-shadow: 10px 10px 5px 0px rgba(178, 193, 255, 1);
}

.aman h3 {
    padding: 5px;
    color: red;
    font-family: 'Oswald', sans-serif;
}

.aman p {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 25px;
}

.aman:hover {
    background: rgb(54, 248, 54);
}

.cod {
    background: red;
    height: 40px;
    border-radius: 25px 25px 0px 0px;
}

.cod h4 {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
    color: white;
}

.diskon {
    background: black;
}

.diskon h2 {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.diskon p {
    color: #d93025;
    font-weight: bold;
}

.view i {
    font-size: 100px;
    padding: 40px;
    color: rgb(253, 54, 54);
}

/* .fa-arrow-down {
	font-size: 100px;
	padding: 50px;
	color: rgb(253, 54, 54);
} */

.button-trf {
    width: 50%;
    background: #39b54a;
    color: white;
    float: right;
}

.button-cod {
    width: 50%;
    background: #4080ff;
    color: white;
}

/* 
.button {
	text-decoration: none;
	color: white;
	font-size: 15px;
} */

.pesan a {
    text-decoration: none;
    color: white;
}

.btn-trf {
    background: #39b54a;
    border: transparent;
    padding: 10px;
}

.btn-trf:focus {
    outline: none;
}

.btn-trf del {
    text-decoration: line-through red;
    border-width: 5px;
}

.btn-cod {
    background: #4080ff;
    border: transparent;
    padding: 10px;
}

.btn-cod:focus {
    outline: none;
}

p #demo {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}

.waktu {
    background: #39b54a;
    border-radius: 0px 25px;
}

.waktu p {
    background: white;
}
